<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="description" content="Democrazy, Don't take your vote for granted, This project is for educational purposes">
  	<meta name="keywords" content="Democrazy, Don't take your vote for granted, educational purposes">
 	<meta name="author" content="CphBusiness Students">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- source: W3schools - "https://www.w3schools.com/tags/tag_meta.asp" -->
	<link rel="stylesheet" type="text/css" href="../democrazy/democrazy.css">
	<title>DemoCrazy</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100045699-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- source: Google Analytics - "https://developers.google.com/analytics/devguides/collection/analyticsjs/" -->
    
</head>
<body>
	<div class="logo"><img src="../democrazy/logo.png" alt="LOGO"></div>
<div class="container">
<div class="text1">Don't take your vote for granted</div>
<div><video id="bgvid" playsinline autoplay muted loop>
<source src="democrazy.webm" type="video/webm">
<source src="democrazy.mp4" type="video/mp4">
 Your browser does not support HTML5 video.
</video></div>
<div class="text2">DATE<br>
21.11.2017</div>
</div>
<div class="social-media">
<a target="_blank" href="https://www.instagram.com/democrazy_cph/"><img src="instagram.png" alt="instagram" style="width:40px; height:40px"></a>
<a href="#"><img src="snapchat.png" alt="snapchat" style="width:40px;height:40px"></a></div>
<div class="footer">
This project is for educational purposes only.<br>© Cphbusiness Students 2017
</div>

</body>

</html>
